<!DOCTYPE html>
<html
  lang="pt-BR"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <form
    class="form-row align-items-center"
    action=""
    method="get"
    th:object="${filtro}"
  >
    <div class="col-md-6">
      <div class="form-group m-0">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text p-0" id="searchPrepend">
              <button type="submit" class="btn">
                <i class="fas fa-search"></i>
              </button>
            </span>
          </div>
          <input
            class="form-control"
            type="text"
            id="search"
            aria-describedby="searchPrepend"
            th:placeholder="|Busque por ${rotaAtual}|"
            autofocus="autofocus"
            style="padding: 1.375rem 0.75rem"
            th:field="*{busca}"
          />
          <button type="submit" class="btn btn-outline-primary">Buscar</button>
        </div>
      </div>
    </div>
    <div class="col" th:if="${#lists.size(nroPaginas) > 1}">
      <nav aria-label="Page navigation">
        <ul
          class="pagination my-2 m-md-0 justify-content-center justify-content-md-end"
        >
          <li class="page-item" th:if="${hasPrevious}">
            <a
              class="page-link"
              th:href="@{/wa/{rotaAtual}(page=0, size=${param.size}, rotaAtual=${rotaAtual})}"
              aria-label="Primeira"
            >
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Primeira</span>
            </a>
          </li>

          <li th:each="nroPagina : ${nroPaginas}" class="page-item">
            <a
              class="page-link"
              th:classappend="${paginaAtual == nroPagina - 1} ? page-active"
              th:href="@{/wa/{rotaAtual}(page=${nroPagina - 1},size=${param.size}, rotaAtual=${rotaAtual})}"
              th:text="${nroPagina}"
            ></a>
          </li>

          <li
            class="page-item"
            th:if="${paginaAtual + 1 < #lists.size(nroPaginas)}"
          >
            <a
              class="page-link"
              th:href="@{/wa/{rotaAtual}(page=${#lists.size(nroPaginas) - 1}, size=${param.size}, rotaAtual=${rotaAtual})}"
              aria-label="Última"
            >
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Última</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-md-3 ml-3">
      <div class="row justify-content-center align-items-center">
        <select
          class="custom-select col-6 col-md-6"
          name="pageSize"
          id="pageSize"
        >
          <option th:if="${param.size} == null" value="null">5</option>
          <option
            th:if="${param.size} != null and ${#strings.length(param.size) > 0}"
            value="null"
            th:text="${param.size}"
          ></option>

          <option
            th:if="${!#strings.equals(param.size, '5')} and ${param.size} != null"
            value="5"
          >
            5
          </option>
          <option th:if="${!#strings.equals(param.size, '10')}" value="10">
            10
          </option>
          <option th:if="${!#strings.equals(param.size, '15')}" value="15">
            15
          </option>
          <option th:if="${!#strings.equals(param.size, '20')}" value="20">
            20
          </option>
        </select>
        <label class="my-0 ml-1" for="pageSize">Por página</label>
      </div>
    </div>
  </form>
</html>
