<!DOCTYPE html>
<html
  lang="pt-BR"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{LayoutPadrao}"
>
  <section layout:fragment="conteudo">
    <body>
      <div class="d-flex flex-column justify-content-center h-100">
        <div class="d-flex align-items-center justify-content-around my-5">
          <h1 style="font-size: 100px">☹</h1>
          <h2>Oops, parece que esta página não existe.</h2>
        </div>
        <h4 class="text-center">
          Clique <a class="btn-link" href="/">aqui</a>
          para voltar à página inicial.
        </h4>
      </div>
    </body>
  </section>
</html>
