* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  height: 100%;
}

.container {
  display: flex;
  height: 100%;
}

section.conteudo {
  margin: auto 0;
  width: 100%;
}

svg {
  width: 18px;
}
